
form {
  width: 100%;
  position: relative;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border: 1px solid red!important;
  color: red!important;
}
input {
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    border-radius: $standard-radius;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgba( 122, 193, 66, 0 );
    background: $bkg-light-grey;
    outline: 0;
    transition: border, .3s;

    &:hover, &:focus, &:active {
      border: 1px solid rgba( 122, 193, 66, 1 );
    }
  }

  &[type="button"],
  &[type="submit"] {
    @extend .mdev-base-btn;
  }
}

/* stylelint-enable */

/* Form Scaffolding */

.mdev-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.mdev-action-group {
  width: 100%;
  position: relative;
}


