/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Main */
body {
  font-family: $main-font;
  font-size: 16px;
  color: $black;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  font-weight: 700;
  color: inherit;
  margin-bottom: 25px;
}

// Responsive Font Size Maps
$p-font-sizes: (
  null  : 15px,
  $landscape : 20px,
);

$h1-font-sizes: (
  null  : 50px,
  $landscape: 120px
);

$h2-font-sizes: (
  null  : 40px,
  $landscape: 80px
);

$h3-font-sizes: (
  null  : 35px,
  $landscape: 70px
);

$h4-font-sizes: (
  null  : 30px,
  $landscape: 60px
);

$h5-font-sizes: (
  null  : 20px,
  $landscape: 50px
);

$h6-font-sizes: (
  null  : 15px,
  $landscape: 30px
);

// Links
$link-font-sizes: (
  null  : 15px,
  $landscape: 25px
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 1.8;
  font-weight: 400;
  @include font-size($p-font-sizes);
}

h1,
.h1 {
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  @include font-size($h6-font-sizes);
}

.mdev-main-nav-links {
  @include font-size($link-font-sizes);
}

/* Link Reset / Base Inherit */
a {
  font-family: $main-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.mdev-hero-text {
  @include font-size($h1-font-sizes);
  line-height: 120%;
  color: $color-brand-primary;
  font-weight: 700;
}
