/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// TODO - Update with project style guide
// Main colors
$color-brand-primary: #16b1a9;
$color-brand-accent: #c4ee1e;
$color-brand-bkg: #0f1618;
$bkg-light-grey: #fafafa;
$black: #000;
$white: #fff;


// Main Font
$main-font: 'Roboto', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables
$standard-radius: 4px;

//Clipping Paths
