/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$color-brand-primary: #13b2a9;
$color-brand-accent: #333;
$bkg-light-grey: #fafafa;
$black: #000;
$white: #fff;


// Main Font
$main-font: 'Titillium Web', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables
$standard-radius: 4px;
